body {
    font: 16px sans-serif;
}
ul#tmpFavorites {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#tmpFavorites li {
    margin: 1px;
    padding: 3px;
}
a {
    text-decoration: none;
}
li.tmpFound {
    background: yellowgreen;
}