body {
    font: 16px sans-serif;
}
h4 {
    font-size: 16px;
    margin: 0 0 5px 0;
}
ul#tmpPlaces {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#tmpPlaces li {
    margin: 1px;
    padding: 3px;
}
div#tmpPlacesWrapper {
    padding: 5px;
    border: 1px solid rgb(200, 200, 200);    
    background: rgb(240, 240, 240);
}
body#tmpExample div.tmpParent {
    background: rgb(174, 211, 248);
}