body {
    font: 16px sans-serif;
}
h4 {
    margin: 5px;    
}
table {
    width: 100%;
    background: #b6d9f6;
    margin-bottom: 5px;
}
th {
    background: #8dc3f0;
}
tr#tmp {
    display: none;
}
input.tmpFocused {
    background: lightgreen;
}