body {
    font: 16px sans-serif;
}
h4 {
    margin: 5px;  
}
table {
    width: 100%;
    background: lightblue;
}
th {
    background: royalblue;
    color: lightblue;
    font-weight: normal;
}
table#tmp {
    display: none;
}